.social-media-links {
    display: flex;
    justify-content: center; /* Opcional: centra los íconos horizontalmente */
    gap: 10px; /* Opcional: agrega espacio entre los íconos */
}

.social-icon {
    display: inline-block;
    width: 40px; /* Tamaño deseado */
    height: 40px; /* Tamaño deseado */
    overflow: hidden;
    border-radius: 50%; /* Opcional: hace los íconos circulares */
}

.social-icon-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
}

/* Estilos generales para todos los dispositivos */

/* Media query para móviles pequeños */
@media only screen and (max-width: 480px) {
    /* Estilos específicos para móviles pequeños */
}

/* Media query para móviles grandes */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos específicos para móviles grandes */
}

/* Media query para tabletas */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
}

/* Media query para computadoras portátiles y de escritorio */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Estilos específicos para portátiles y escritorio */
}

/* Media query para pantallas grandes de escritorio */
@media only screen and (min-width: 1441px) {
    /* Estilos específicos para pantallas grandes de escritorio */
    /* Aquí puedes aumentar el tamaño de las fuentes, espaciado, etc. */
}

/* Media query para pantallas ultragrandes o de desarrollo (opcional) */
@media only screen and (min-width: 1920px) {
    /* Estilos específicos para pantallas ultragrandes o de desarrollo */
    /* Ejemplo: aumentar aún más el tamaño del contenido */
}


